

/******* LAYOUT ******/

header{
  
}

h1 {
  padding: 100px;
  font-size:2rem;
  font-weight:bold;
  font-family: "ヒラギノ丸ゴ　pro W4","Hiragino Maru Gothic Pro",sans-serif;
}

main{

 /* nothing */
}

article{

 /* nothing */
}

  .wrapper{
    display: flex;
    flex-direction: row;
  }

  .image01{
    flex:1;
    padding-left:60px;
  }

  .textBlock{
    flex:3;
  }

  div.STORY{
    margin-top: 20px;
    margin-right: 50px;
    margin-left: 50px;
  }


/*
div.img01{
  background-image:url(images/how-to-01.png);
  height: 450px;
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;

}
div.img02{
  background-image:url(images/how-to-02.png);
  height: 450px;
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;

}
div.img03{
  background-image:url(images/how-to-03.png);
  height: 450px;
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;


}



nav.footer-menu{
   position: absolute;
   padding-right: 10px;
   left: 60px;
   font-size: 2rem;
   font-family: "ヒラギノ丸ゴ　pro W4","Hiragino Maru Gothic Pro",sans-serif;
   background-color:#FFFFFF;
}

div.image02{
  text-align: right;
  padding-right: 70px;
}
nav.footer-menu ul{
  display: flex;
  list-style-type: none;
  padding-top: 80px;
}
nav.footer-menu ul li{
  margin-right: 2rem;

}

nav.footer-menu ul li a {
  color:#24140e;
}

.row {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}
.col {
  width: 33%;
  text-align: center;
  padding-top: 250px;
  box-sizing: border-box;
}

.linkbtn02{
 padding-top: 10px;
}
